body {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-container{
  margin : 3.5% 2%
}

.navbar-custom{
  background-color: #850907 ;
}
.container-fluid{
  padding: 1% 0;
}


.coursecard{
  min-width: 20rem;
  margin: 1% 2%;
}

.SideBar {
  position: absolute;
  max-width: 18%;
  height: auto;
  padding: 0% 2%;
}

.CourseContainer{
  position: relative;
  left: 8%;
  padding: 0 0;
  
}

